/* This is my styles page for index */

/* This is so that the flexboxes take the full space */
body    {
    margin: 0;
}

/* Styles for the header flexbox */
header  {
    display: flex;
    background-color: navy;
    color: white;
    margin: 0px;
    justify-content: space-between;
}

/* To make the lists side by side */
ul  {
    display: flex;
}

/* To remove bullet points from the lists */
li  {
    list-style-type: none;
}

/* To remove the blue color and underline of links */
a   {
    text-decoration: none;
    color: white;
}


/* This makes a text saying Castro's Website that aligns to the left of the header */
.header-logo    {
    align-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 150px;
    font-size: 24px;
    font-weight: bolder;
}

/* This makes the links on the right and adds fonts to it */
.header-links   {
    gap: 20px;
    margin-right: 150px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* This is the whole flexbox that surrounds the text and the picture below the header */
.layer-one  {
    display: flex;
    background-color: navy;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* This is the flexbox that styles the text to the left of the image */
.layer-one-text {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 5px;
}

/*This flexbox sets the dimensions of the image and gives it a border*/
.superhero-img  {
    height: 200px;
    width: auto;
    border-color: rgb(72, 158, 187);
    border-style: solid;
}

/* This is to style the big bold text */
.one-bold   {
    font-weight: bolder;
    font-size: 50px;
}

/* This is to style the button below the text */
.one-button {
    background-color: rgb(72, 158, 187);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 12px;
}